{% extends "base.html" %}
{% block content %}

   {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              
            <div class="card-body">
                <img src={{ item['Post_url'] }} width="100%" height="225">
              <p class="card-text">Col#:{{ loop.index }}<br>Name:{{ item['Name'] }}<br>Genre:{{ item['Genre'] }}<br>Highlight:{{ item['Highlight'] }}<br>Venue in China:{{ item['Venue_in_China'] }}<br>Frequency in China:{{ item['Frequency_in_China'] }}<br>Years Active:{{ item['Years_Active'] }}<br>Birthplace:{{ item['Birthplace'] }}<br>Sponsor:{{ item['Sponsor'] }}<br>Price:{{ item['price'] }}<br>Website/Social Meida:{{ item['website/social media'] }}<br>Popularity:{{ item['Popularity'] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %} 

{% endblock %}